rect {
    fill: steelblue;
    opacity: .4;
}

circle {
    fill: steelblue;
    opacity: 0.3;
    stroke: white;
}

.line-path {
    fill: none;
    stroke: lightblue;
    stroke-width: 2;
}

text {
    font-family: sans-serif;
}

.tick text {
    font-size: 1em;
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
}

.axis-label {
    font-size: 1em;
    fill: #8E8883;
}

.title {
    font-size: 1.2em;
    fill: #635F5D;
}

.annotation-note-bg {
  fill: rgba(0, 0, 0, 0);
}

.annotation-note-title, text.title {
  font-weight: bold;
}

.mytooltip {
  position      : absolute;
  text-align    : center;
  max-width     : 200px;
  max-height    : 50px;
  padding       : 8px;
  border        : none;
  border-radius : 8px;
  margin-top    : -30px;
  font          : 10px sans-serif;
  background    : black;
  color         : white;
  pointer-events: none;
  }